In [8]:
# Import the required libraries and dependencies
import pandas as pd
import numpy as np
from pathlib import Path
import hvplot.pandas
from datetime import datetime

# Used Cars Price Prediction ML Model

In [9]:
# Read the csv into a DataFrame
used_cars_df = pd.read_csv(Path("./data/used_cars.csv"))

# Show the used_cars DataFrame
display(used_cars_df)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"
...,...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,Continental GT Speed,2023,714 mi.,Gasoline,6.0L W12 48V PDI DOHC Twin Turbo,8-Speed Automatic with Auto-Shift,C / C,Hotspur,None reported,Yes,"$349,950"
4005,Audi,S4 3.0T Premium Plus,2022,"10,900 mi.",Gasoline,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,"$53,900"
4006,Porsche,Taycan,2022,"2,116 mi.",NaN,Electric,Automatic,Black,Black,None reported,NaN,"$90,998"
4007,Ford,F-150 Raptor,2020,"33,000 mi.",Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,"$62,999"
4008,BMW,X3 xDrive30i,2020,"43,000 mi.",Gasoline,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Brown,At least 1 accident or damage reported,Yes,"$40,000"

# View Each Feature and Their Values

In [10]:
display(used_cars_df["brand"].unique())
display(len(used_cars_df["brand"].unique()))

array(['Ford', 'Hyundai', 'Lexus', 'INFINITI', 'Audi', 'Acura', 'BMW',
       'Tesla', 'Land', 'Aston', 'Toyota', 'Lincoln', 'Jaguar',
       'Mercedes-Benz', 'Dodge', 'Nissan', 'Genesis', 'Chevrolet', 'Kia',
       'Jeep', 'Bentley', 'Honda', 'Lucid', 'MINI', 'Porsche', 'Hummer',
       'Chrysler', 'Volvo', 'Cadillac', 'Lamborghini', 'Maserati',
       'Volkswagen', 'Subaru', 'Rivian', 'GMC', 'RAM', 'Alfa', 'Ferrari',
       'Scion', 'Mitsubishi', 'Mazda', 'Saturn', 'Bugatti', 'Polestar',
       'Rolls-Royce', 'McLaren', 'Buick', 'Lotus', 'Pontiac', 'FIAT',
       'Karma', 'Saab', 'Mercury', 'Plymouth', 'smart', 'Maybach',
       'Suzuki'], dtype=object)

57

In [11]:
display(used_cars_df["model"].unique())
display(len(used_cars_df["model"].unique()))

array(['Utility Police Interceptor Base', 'Palisade SEL', 'RX 350 RX 350',
       ..., 'Martin DB7 Vantage Volante', 'Impala 2LZ', 'Taycan'],
      dtype=object)

1898

In [12]:
display(used_cars_df["model_year"].unique())
display(len(used_cars_df["model_year"].unique()))

array([2013, 2021, 2022, 2015, 2016, 2017, 2001, 2020, 2019, 2003, 2018,
       2023, 2000, 2006, 2011, 2012, 2007, 2014, 2005, 2009, 2010, 2004,
       2008, 1997, 1999, 1993, 2002, 1998, 2024, 1996, 1974, 1992, 1995,
       1994], dtype=int64)

34

In [13]:
display(used_cars_df["milage"].unique())
display(len(used_cars_df["milage"].unique()))

array(['51,000 mi.', '34,742 mi.', '22,372 mi.', ..., '53,705 mi.',
       '714 mi.', '2,116 mi.'], dtype=object)

2818

In [14]:
display(used_cars_df["fuel_type"].unique())
display(len(used_cars_df["fuel_type"].unique()))

array(['E85 Flex Fuel', 'Gasoline', 'Hybrid', nan, 'Diesel',
       'Plug-In Hybrid', '–', 'not supported'], dtype=object)

8

In [15]:
display(used_cars_df["engine"].unique())
display(len(used_cars_df["engine"].unique()))

array(['300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capability',
       '3.8L V6 24V GDI DOHC', '3.5 Liter DOHC', ...,
       '136.0HP 1.8L 4 Cylinder Engine Gasoline Fuel',
       '270.0HP 2.0L 4 Cylinder Engine Gasoline Fuel',
       '420.0HP 5.9L 12 Cylinder Engine Gasoline Fuel'], dtype=object)

1146

In [16]:
display(used_cars_df["transmission"].unique())
display(len(used_cars_df["transmission"].unique()))

array(['6-Speed A/T', '8-Speed Automatic', 'Automatic', '7-Speed A/T',
       'F', 'A/T', '8-Speed A/T', 'Transmission w/Dual Shift Mode',
       '9-Speed Automatic', '6-Speed M/T', '10-Speed A/T', '9-Speed A/T',
       '5-Speed A/T', '1-Speed A/T', 'Automatic CVT',
       '7-Speed Automatic with Auto-Shift', 'CVT-F', 'M/T',
       '6-Speed Automatic with Auto-Shift', '10-Speed Automatic',
       'CVT Transmission', '4-Speed A/T', '6-Speed Automatic',
       '4-Speed Automatic', '7-Speed M/T',
       '8-Speed Automatic with Auto-Shift', '5-Speed Automatic',
       '8-SPEED AT', '1-Speed Automatic', '5-Speed M/T', 'Manual',
       '6-Speed Manual', 'Variable', '2', '7-Speed Manual',
       'Automatic, 9-Spd 9G-Tronic', 'Automatic, 8-Spd',
       'Automatic, 8-Spd Sport w/Sport & Manual Modes', '–',
       'Auto, 6-Spd w/CmdShft', 'Transmission Overdrive Switch',
       '7-Speed Automatic', 'Automatic, 8-Spd PDK Dual-Clutch',
       'Automatic, 8-Spd M STEPTRONIC w/Drivelogic, Sport & Manual Modes',
       'Automatic, 8-Spd Dual-Clutch', '6-Speed',
       'Single-Speed Fixed Gear', 'Automatic, 10-Spd',
       '2-Speed Automatic', '7-Speed',
       'Automatic, 7-Spd S tronic Dual-Clutch', 'Manual, 6-Spd',
       '6-Speed Electronically Controlled Automatic with O',
       '6 Speed At/Mt', '8-SPEED A/T',
       '10-Speed Automatic with Overdrive', '7-Speed DCT Automatic',
       '9-Speed Automatic with Auto-Shift',
       'SCHEDULED FOR OR IN PRODUCTION', '2-Speed A/T', '6 Speed Mt',
       '8-Speed Manual'], dtype=object)

62

In [17]:
display(used_cars_df["ext_col"].unique())
display(len(used_cars_df["ext_col"].unique()))

array(['Black', 'Moonlight Cloud', 'Blue', 'Glacier White Metallic',
       'Silver', 'Green', 'Fuji White', 'Yellow', 'White', 'Gray',
       'Purple', 'Iconic Silver Metallic', 'Mythos Black Metallic', 'Red',
       'Gold', 'Lunar Silver Metallic', 'Mountain Air Metallic',
       'Caspian Blue', 'Tango Red Metallic', '–', 'Alpine White',
       'BLU ELEOS', 'Horizon Blue', 'Granite Crystal Clearcoat Metallic',
       'Orange', 'Beige', 'Rift Metallic', 'Atomic Silver',
       'Summit White', 'Imperial Blue Metallic',
       'Magnetic Gray Clearcoat', 'Bright White Clearcoat',
       'Typhoon Gray', 'Crystal Black Silica', 'Arctic Gray Metallic',
       'Selenite Grey Metallic', 'Ultra Black', 'Lunare White Metallic',
       'Hyper Red', 'Daytona Gray Pearl Effect', 'Vik Black',
       'Pacific Blue Metallic', 'Obsidian Black Metallic',
       'Silver Ice Metallic', 'Sonic Silver Metallic', 'Nightfall Mica',
       'Apex Blue', 'Go Mango!', 'Ingot Silver Metallic',
       'Midnight Black Metallic', 'Black Clearcoat', 'Thunder Gray',
       'Bianco Monocerus', 'Verde', 'Wind Chill Pearl', 'Mythos Black',
       'Patriot Blue Pearlcoat', 'Black Cherry', 'Yulong White',
       'Donington Grey Metallic', 'Ruby Red Metallic Tinted Clearcoat',
       'Platinum Quartz Metallic', 'Matador Red Metallic', 'Blu',
       'Mosaic Black Metallic', 'Jungle Green', 'BLACK',
       'Deep Crystal Blue Mica', 'Beluga Black', 'Eiger Grey',
       'Ebony Black', 'Brown', 'Indus Silver', 'Ibis White',
       'Bianco Icarus Metallic', 'Infrared Tintcoat', 'Midnight Black',
       'Phytonic Blue Metallic', 'Quartz White',
       'Rapid Red Metallic Tinted Clearcoat', 'Cobra Beige Metallic',
       'Pure White', 'Snow White Pearl', 'DB Black Clearcoat',
       'Firenze Red Metallic', 'Anodized Blue Metallic',
       'MANUFAKTUR Diamond White Bright', 'Santorin Black', 'Glacier',
       'Delmonico Red Pearlcoat', 'Brilliant Black',
       'Magnetite Black Metallic', 'Carpathian Grey Premium Metallic',
       'Majestic Black Pearl', 'Northsky Blue Metallic', 'Baltic Gray',
       'Machine Gray Metallic', 'Twilight Black', 'Pearl White',
       'Diamond Black', 'Maroon', 'Firecracker Red Clearcoat',
       'Oxford White', 'Glacier White', 'Flame Red Clearcoat',
       'White Clearcoat', 'Ice', 'Silver Zynith', 'Silky Silver',
       'Ametrin Metallic', 'Deep Black Pearl Effect', 'Shimmering Silver',
       'Gecko Pearlcoat', 'Onyx', 'Rosso Mars Metallic',
       'Shoreline Blue Pearl', 'Santorini Black',
       'White Platinum Tri-Coat Metallic', 'Sparkling Silver', 'Chalk',
       'BLUE', 'Dazzling White', 'Santorini Black Metallic',
       'Selenite Gray Metallic', 'Metallic', 'Ebony Twilight Metallic',
       'Polymetal Gray Metallic', 'Oryx White Prl', 'Black Forest Green',
       'Gun Metallic', 'Jet Black Mica', 'Dark Gray Metallic',
       'Firenze Red', 'Glacial White Pearl',
       'designo Diamond White Metallic', 'Blue Metallic',
       'Isle of Man Green Metallic', 'Black Noir Pearl',
       'Volcano Grey Metallic', 'Soul Red Crystal Metallic', 'Dark Moss',
       'Passion Red', 'Typhoon Gray Metallic', 'Onyx Black',
       'Redline Red', 'Navarra Blue Metallic',
       'Brands Hatch Gray Metallic',
       'Daytona Gray Pearl Effect w/ Black Roof', 'Hampton Gray',
       'Ultra White', 'Hydro Blue Pearlcoat', 'Sandstone Metallic',
       'Portofino Blue Metallic', 'Sangria Red', 'Magnetic Metallic',
       'Tan', 'Platinum White Pearl', 'designo Diamond White',
       'Anthracite Blue Metallic', 'Velvet Red Pearlcoat', 'Silver Mist',
       'Antimatter Blue Metallic', 'Cirrus Silver Metallic', 'Pink',
       'Cayenne Red Tintcoat', 'Garnet Red Metallic', 'Black Obsidian',
       'Pristine White', 'Nebula Gray Pearl', 'Super White',
       'Gentian Blue Metallic', 'Midnight Blue Metallic', 'Yulong',
       'Rosso Corsa', 'Matte White', 'Navarra Blue', 'Silver Radiance',
       'Iridium Metallic', 'Magnetic Black', 'Chronos Gray Metallic',
       'Pacific Blue', 'Eiger Grey Metallic', 'White Diamond Tri-Coat',
       'Stormy Sea', 'Dark Matter Metallic', 'Billet Clearcoat Metallic',
       'Brilliant Silver Metallic', 'Liquid Platinum',
       'Vulcano Black Metallic', 'Diamond White', 'White Frost Tri-Coat',
       'Aventurine Green Metallic', 'Tempest', 'Alfa White', 'Star White',
       'Titanium Silver', 'Caviar', 'Kodiak Brown Metallic',
       'Majestic Plum Metallic', 'Navarre Blue', 'Bronze Dune Metallic',
       'Radiant Red Metallic II', 'Dark Moon Blue Metallic',
       'Manhattan Noir Metallic', 'Agate Black Metallic', 'Frozen White',
       'Bianco Isis', 'Phantom Black Pearl Effect / Black Roof',
       'Kemora Gray Metallic', 'Shadow Black', 'Graphite Grey Metallic',
       'Emerald Green Metallic', 'Orca Black Metallic', 'Chronos Gray',
       'Daytona Gray', 'Billet Silver Metallic Clearcoat',
       'Sting Gray Clearcoat', 'Maximum Steel Metallic',
       'Carbonized Gray Metallic', 'Ruby Flare Pearl',
       'Crimson Red Tintcoat', 'Blueprint', 'Balloon White',
       'Snowflake White Pearl', 'Crystal White Pearl',
       'Quicksilver Metallic', 'Dark Sapphire', 'Carbon Black Metallic',
       'Sunset Drift Chromaflair', 'Shadow Gray Metallic', 'Granite',
       'Frozen Dark Silver Metallic', 'Black Sapphire Metallic',
       'Quartz Blue Pearl', 'Iridescent Pearl Tricoat',
       'Satin Steel Metallic', 'Aurora Black', 'Black Raven',
       'Florett Silver', 'Cajun Red Tintcoat', 'Nero Daytona',
       'Red Multi', 'Dark Ash Metallic', 'Rich Garnet Metallic',
       'Nero Noctis', 'Scarlet Ember', 'Blue Reflex Mica',
       'Snowflake White Pearl Metallic', 'Grigio Nimbus',
       'Granite Crystal Metallic Clearcoat', 'Stellar Black Metallic',
       'Dark Slate Metallic', 'Vega Blue', 'Stone Gray Metallic',
       'Matador Red Mica', 'Barcelona Red', 'Bayside Blue',
       'Tungsten Metallic', 'Mineral White', 'Siren Red Tintcoat',
       'Octane Red Pearlcoat', 'Wolf Gray', 'Fountain Blue', 'Obsidian',
       'Volcanic Orange', 'Dark Graphite Metallic', 'Designo Magno Matte',
       'Phantom Black', 'Crystal Black', 'Red Quartz Tintcoat',
       'Carrara White Metallic', 'Blue Caelum',
       'designo Diamond White Bright', 'Iridium Silver Metallic',
       'Mango Tango Pearlcoat', 'GT SILVER', 'Crystal Black Pearl',
       'Eminent White Pearl', 'Lunar Blue Metallic',
       'Magnetic Gray Metallic', 'Arctic White', 'Silver Flare Metallic',
       'Emin White', 'Custom Color', 'Ember Pearlcoat',
       'Twilight Blue Metallic', 'Burnished Bronze Metallic',
       'Ice Silver Metallic', 'Magnetite Gray Metallic', 'Jupiter Red',
       'Midnight Silver Metallic', 'Hellayella Clearcoat',
       'Ironman Silver', 'Alta White', 'Python Green', 'China Blue',
       'Portofino Gray', 'White Knuckle Clearcoat', 'Nautical Blue Pearl',
       'Silician Yellow', 'Arancio Borealis', 'Rosso', 'Graphite Grey',
       'Lizard Green', 'Super Black', 'Kinetic Blue',
       'Electric Blue Metallic', 'Glacier Blue Metallic', 'Red Obsession',
       'Platinum Gray Metallic', 'Remington Red Metallic',
       'Reflex Silver', 'Deep Blue Metallic', 'Glacier Silver Metallic',
       'Carpathian Grey', 'Nightfall Gray Metallic', 'Lunar Rock',
       'Quartzite Grey Metallic', 'C / C'], dtype=object)

319

In [18]:
display(used_cars_df["int_col"].unique())
display(len(used_cars_df["int_col"].unique()))

array(['Black', 'Gray', 'Ebony.', 'Green', 'Pimento / Ebony', 'Brown',
       'White', '–', 'Beige', 'Jet Black', 'Light Gray', 'Anthracite',
       'Red', 'Nero Ade', 'Blue', 'Charcoal', 'Rioja Red',
       'Canberra Beige/Black', 'Roast', 'Ivory / Ebony',
       'Silk Beige/Black', 'Medium Pewter', 'Ice', 'Black / Express Red',
       'Obsidian Black', 'Ebony', 'Orange', 'Caramel', 'Orchid',
       'Graphite', 'Tan/Ebony', 'Cappuccino', 'Nero', 'Sahara Tan',
       'BLACK', 'Hotspur', 'Blk', 'Black Onyx', 'Nougat Brown',
       'Titan Black', 'Oyster W/Contrast', 'Silver',
       'Macchiato Beige/Black', 'Sand Beige', 'Navy Pier', 'WHITE',
       'Parchment.', 'Sarder Brown', 'Grace White', 'Cloud', 'Espresso',
       'Mesa', 'Whisper Beige', 'Medium Dark Slate', 'Gold',
       'Camel Leather', 'Tupelo', 'Black/Red', 'Parchment', 'Beluga Hide',
       'Charles Blue', 'Global Black', 'Titan Black / Quarzit', 'Mocha',
       'Portland', 'Medium Light Camel', 'Black / Saddle', 'Ash',
       'Ebony / Pimento', 'Tan', 'Mistral Gray / Raven', 'Graystone',
       'Satin Black', 'Sandstone', 'Medium Stone', 'ORANGE',
       'Pimento Red w/Ebony', 'Macchiato', 'Ebony Black', 'Pearl Beige',
       'Sakhir Orange', 'Kyalami Orange', 'Almond Beige',
       'Medium Earth Gray', 'Diesel Gray / Black', 'Boulder', 'Walnut',
       'Charcoal Black', 'Dark Auburn', 'Tan/Ebony/Ebony', 'Amber',
       'Silk Beige/Espresso Brown', 'Black / Brown',
       'Sakhir Orange/Black', 'Black / Stone Grey', 'AMG Black', 'Slate',
       'BEIGE', 'Canberra Beige', 'Magma Red', 'Saiga Beige',
       'Saddle Brown', 'Light Titanium', 'Dark Gray', 'Platinum',
       'Ebony/Light Oyster Stitch', 'Shale', 'Red/Black', 'Agave Green',
       'Cobalt Blue', 'Deep Cypress', 'Ceramic', 'Camel', 'Rhapsody Blue',
       'Light Platinum / Jet Black', 'Shara Beige', 'Dark Galvanized',
       'Giallo Taurus / Nero Ade', 'Yellow', 'Black w/Red Stitching',
       'Black/Saddle Brown', 'Light Slate', 'Black/Gun Metal',
       'White / Brown', 'Brandy', 'Mountain Brown', 'Linen', 'Porpoise',
       'Aragon Brown', 'Oyster/Black', 'Gideon', 'Chestnut',
       'Red / Black', 'Bianco Polar', 'Deep Garnet', 'Dark Ash',
       'Ebony / Ebony Accents', 'Rock Gray', 'Cocoa / Dune', 'Beluga',
       'Carbon Black', 'Sport', 'Medium Ash Gray', 'Black/Graphite',
       'Macchiato/Magmagrey', 'Classic Red', 'Chateau',
       'Graphite w/Gun Metal', 'Tension', 'Adrenaline Red',
       'Hotspur Hide', 'Gray w/Blue Bolsters', 'Very Light Cashmere',
       'Black / Gray', 'Deep Chestnut', 'Black / Graphite'], dtype=object)

156

In [19]:
display(used_cars_df["accident"].unique())
display(len(used_cars_df["accident"].unique()))

array(['At least 1 accident or damage reported', 'None reported', nan],
      dtype=object)

3

In [20]:
display(used_cars_df["clean_title"].unique())
display(len(used_cars_df["clean_title"].unique()))

array(['Yes', nan], dtype=object)

2

In [21]:
# Count the number of cars listed for each brand
used_cars_df.groupby(["brand"]).count()["price"].sort_values(ascending = False)

brand
Ford             386
BMW              375
Mercedes-Benz    315
Chevrolet        292
Porsche          201
Audi             200
Toyota           199
Lexus            163
Jeep             143
Land             130
Nissan           116
Cadillac         107
RAM               91
GMC               91
Dodge             90
Tesla             87
Kia               76
Hyundai           72
Subaru            64
Mazda             64
Acura             64
Honda             63
INFINITI          59
Volkswagen        59
Lincoln           52
Jaguar            47
Volvo             38
Maserati          34
Bentley           33
MINI              33
Buick             30
Chrysler          28
Lamborghini       26
Mitsubishi        20
Genesis           20
Alfa              19
Rivian            17
Hummer            16
Pontiac           15
Ferrari           12
Rolls-Royce       11
Aston              9
Scion              6
McLaren            6
FIAT               5
Saturn             5
Lotus              4
Mercury            3
Lucid              3
Karma              2
Saab               2
Bugatti            1
Polestar           1
Suzuki             1
Plymouth           1
Maybach            1
smart              1
Name: price, dtype: int64

# Cleaning and Wrangling Data

**TODO:**
- Drop `model` from the ML model.*
- Create a new feature called `age` where `age` = `current_year` - `model_year`, drop `model_year` from the ML model.
- Replace `milage` with `kilometres` and make it continuous
- Map `nan` in `fuel_type` to '-'
- Create new features to breakdown the engine into engine_cylinders (2, 4, 6, 8...), engine_hp, engine_electric and engine_displacement
- Create new features to breakdown the transmission into transmission_gears (6-speed, 8-speed...), and transmission_type (A/T, M/T, CVT, DCT) 
- Drop `ext_col` and `int_col` from the ML model
- Map `nan` and 'None reported' in `accident` to 0, and 'At least 1 accident or damage reported' to 1.
- Map 'Yes' in `clean_title` to 1, and nan to 0.
- Convert `price` to be numeric.

\* Train one ML model with the car models and one without

In [22]:
# Create a function to clean the DataFrame
def clean_used_cars(used_cars_df):
    cleaned_df = used_cars_df.copy()
    
    # Create age variable
    cleaned_df["age"] = datetime.now().year - cleaned_df["model_year"]
    
    # Drop model_year
    cleaned_df.drop(columns = ["model_year"], inplace = True)
    
    # Convert milage to kilometers and make it continuous
    cleaned_df["kilometers"] = cleaned_df["milage"].apply(lambda x: round(float(x.split(" ")[0].replace(",", ""))*1.609344))
    
    # Drop milage
    cleaned_df.drop(columns = ["milage"], inplace = True)
    
    # Map nan fuel_type to "–"
    cleaned_df["fuel_type"] = cleaned_df["fuel_type"].replace(np.nan, "–")
    
    # Map "not supported" fuel_type to "–"
    cleaned_df["fuel_type"] = cleaned_df["fuel_type"].replace("not supported", "–")
    
    ## Breakdown engine column
    
    # Get number of cylinders in the engine
    cleaned_df["engine_cylinders"] = cleaned_df["engine"].apply(get_engine_cylinders)
    
    ### Determine the power output category of the engine
    # Get number of HP the engine has
    cleaned_df["engine_hp"] = cleaned_df["engine"].apply(get_engine_hp)
    # Get engine power output given HP
    cleaned_df["engine_power_output"] = cleaned_df["engine_hp"].apply(get_engine_power_output)
    # Drop engine_hp
    cleaned_df.drop(columns = ["engine_hp"], inplace = True)
    
    ### Determine if the car is full electric
    # Determine if the car has a motor
    cleaned_df["engine_motor"] = cleaned_df["engine"].apply(get_engine_motor)
    # Determine if the car is a hybrid
    cleaned_df["fuel_type_hybrid"] = cleaned_df["fuel_type"].apply(get_fuel_type_hybrid)
    # Determine is the car is full electric
    cleaned_df["electric"] = cleaned_df["engine_motor"] & ~(cleaned_df["fuel_type_hybrid"])
    # Drop engine_motor and fuel_type_hybrid
    cleaned_df.drop(columns = ["engine_motor", "fuel_type_hybrid"], inplace = True)
    
    ### Determine the displacement size category of the engine
    # Get displacement size of the engine
    cleaned_df["engine_displacement_size"] = cleaned_df["engine"].apply(get_engine_displacement_size)
    # Get displacement size category of the engine given displacement size
    cleaned_df["engine_displacement"] = cleaned_df["engine_displacement_size"].apply(get_engine_displacement)
    # Drop engine_displacement_size
    cleaned_df.drop(columns = ["engine_displacement_size"], inplace = True)
    
    # Drop engine
    cleaned_df.drop(columns = ["engine"], inplace = True)
    
    # Get number of gears in the transmission
    cleaned_df["transmission_gears"] = cleaned_df["transmission"].apply(get_transmission_gears)
    
    # Determine the transmission type
    cleaned_df["transmission_type"] = cleaned_df["transmission"].apply(get_transmission_type)
    
    # Drop transmission
    cleaned_df.drop(columns = ["transmission"], inplace = True)
    
    # Drop ext_col and int_col
    cleaned_df.drop(columns = ["ext_col", "int_col"], inplace = True)
    
    # Map `nan` and 'None reported' in `accident` to 0, and 'At least 1 accident or damage reported' to 1.
    cleaned_df["accident"] = cleaned_df["accident"].apply(lambda x: 1 if x == "At least 1 accident or damage reported" else 0)
    
    # Map 'Yes' in `clean_title` to 1, and nan to 0.
    cleaned_df["clean_title"] = cleaned_df["clean_title"].apply(lambda x: 1 if x == "Yes" else 0)
    
    # Convert price to be numeric
    cleaned_df["price"] = cleaned_df["price"].apply(lambda x: float(x.replace(",", "").lstrip("$")))
    
    return cleaned_df

In [23]:
# Create helper functions to clean the dataset

# Create a function to get the number of cylinders an engine has
def get_engine_cylinders(engine):
    engine_cylinders = "–"
    
    engine_string = [x.lower() for x in engine.split()]
    engine_configs = [
        "i3", "i4", "i5", "i6", "i8",
        "i-3", "i-4", "i-5", "i-6", "i-8",
        "v2", "v3", "v4", "v6", "v8", "v10", "v12",
        "v-2", "v-3", "v-4", "v-6", "v-8", "v-10", "v-12",
        "w8", "w12", "w16",
        "w-8", "w-12", "w-16",
        "h4", "h6",
        "h-4", "h-6"
    ]
    
    if "cylinder" in engine_string:
        i = engine_string.index("cylinder")
        if engine_string[i-1].isnumeric():
            engine_cylinders = engine_string[i-1]
        elif "-" in engine_string[i-1]:
            engine_cylinders = engine_string[i-1][2:]
        else:
            engine_cylinders = engine_string[i-1][1:]
    elif len(list(set(engine_string) & set(engine_configs))) == 1:
        if "-" in list(set(engine_string) & set(engine_configs))[0]:
            engine_cylinders = list(set(engine_string) & set(engine_configs))[0][2:]
        else:
            engine_cylinders = list(set(engine_string) & set(engine_configs))[0][1:]
    else:
        engine_cylinders = "–"
    
    return engine_cylinders

# Create a function to determine the number of HP an engine has
def get_engine_hp(engine):
    engine_hp = 0.0
    
    engine_string = [x.lower() for x in engine.split()]
    
    if engine_string[0][-2:] == "hp":
        engine_hp = float(engine_string[0][:-2])
    else:
        engine_hp = 0.0
    
    return engine_hp

# Create a function to determine the power output of an engine
def get_engine_power_output(engine_hp):
    engine_power_output = "–"
    
    if engine_hp > 0 and engine_hp <= 150:
        engine_power_output = "low"
    elif engine_hp > 150 and engine_hp <= 300:
        engine_power_output = "medium"
    elif engine_hp > 300:
        engine_power_output = "high"
    else:
        engine_power_output = "–"
    
    return engine_power_output

# Create a function to determine if the car has a motor
def get_engine_motor(engine):
    engine_motor = 0
    
    engine_string = [x.lower() for x in engine.replace("/", " ").split()]
    
    if "electric" in engine_string or "motor" in engine_string or "battery" in engine_string:
        engine_motor = 1
    else:
        engine_motor = 0
    
    return engine_motor

# Create a function to determine if the car is a hybrid
def get_fuel_type_hybrid(fuel_type):
    fuel_type_hybrid = 0
    
    if fuel_type == "Hybrid" or fuel_type == "Plug-In Hybrid":
        fuel_type_hybrid = 1
    else:
        fuel_type_hybrid = 0
    
    return fuel_type_hybrid

# Create a function to determine the displacement size of the engine
def get_engine_displacement_size(engine):
    engine_displacement_size = 0.0
    
    engine_string = [x.lower() for x in engine.replace("/", " ").split()]
    displacement_string = [x for x in engine_string if ((x[-1] == "l") & (x[0].isnumeric()))]
    
    if "liter" in engine_string:
        i = engine_string.index("liter")
        engine_displacement_size = float(engine_string[i-1])
    elif "l" in engine_string:
        i = engine_string.index("l")
        engine_displacement_size = float(engine_string[i-1])
    elif len(displacement_string) == 1:
        engine_displacement_size = float(displacement_string[0][:-1])
    else:
        engine_displacement_size = 0.0
    
    return engine_displacement_size

# Create a function to determine the displacement size category of the engine
def get_engine_displacement(engine_displacement_size):
    engine_displacement = "–"
    
    if engine_displacement_size > 0 and engine_displacement_size < 3.0:
        engine_displacement = "small"
    elif engine_displacement_size >= 3.0 and engine_displacement_size < 5.0:
        engine_displacement = "medium"
    elif engine_displacement_size >= 5.0:
        engine_displacement = "large"
    else:
        engine_displacement = "–"
    
    return engine_displacement

# Create a function to get the number of gears in the transmission
def get_transmission_gears(transmission):
    transmission_gears = "–"
    
    transmission_string = [x.lower() for x in transmission.replace("-", " ").split()]
    
    if "speed" in transmission_string:
        i = transmission_string.index("speed")
        if transmission_string[i-1].isnumeric():
            transmission_gears = transmission_string[i-1]
        elif transmission_string[i-1] == "single":
            transmission_gears = "1"
        else:
            transmission_gears = "–"
    elif "spd" in transmission_string:
        i = transmission_string.index("spd")
        if transmission_string[i-1].isnumeric():
            transmission_gears = transmission_string[i-1]
        else:
            transmission_gears = "–"
    elif transmission_string[0].isnumeric():
        transmission_gears = transmission_string[0]
    else:
        transmission_gears = "–"
    
    return transmission_gears

# Create a function to determine the transmission type
def get_transmission_type(transmission):
    transmission_type = "–"
    
    transmission_string = [x.lower() for x in transmission.replace("-", " ").replace(",", "").replace("/", "").split()]
    
    if transmission == "Transmission w/Dual Shift Mode":
        transmission_type = "DCT"
    elif "cvt" in transmission_string or "variable" in transmission_string:
        transmission_type = "CVT"
    elif (("automatic" in transmission_string 
          or "at" in transmission_string 
          or "f" in transmission_string 
          or "auto" in transmission_string 
          or transmission == "Transmission Overdrive Switch") 
          and ("cvt" not in transmission_string)):
        transmission_type = "Automatic"
    elif "manual" in transmission_string or "mt" in transmission_string:
        transmission_type = "Manual"
    else:
        transmission_type = "–"
    
    return transmission_type

In [25]:
# Clean the used_cars DataFrame
clean_used_cars_df = clean_used_cars(used_cars_df)

# Show the cleaned used_cars DataFrame
display(clean_used_cars_df.head())
display(clean_used_cars_df.tail())

,brand,model,fuel_type,accident,clean_title,price,age,kilometers,engine_cylinders,engine_power_output,electric,engine_displacement,transmission_gears,transmission_type
0,Ford,Utility Police Interceptor Base,E85 Flex Fuel,1,1,10300.0,10,82077,6,medium,0,medium,6,Automatic
1,Hyundai,Palisade SEL,Gasoline,1,1,38005.0,2,55912,6,–,0,medium,8,Automatic
2,Lexus,RX 350 RX 350,Gasoline,0,0,54598.0,1,36004,–,–,0,medium,–,Automatic
3,INFINITI,Q50 Hybrid Sport,Hybrid,0,1,15500.0,8,143071,6,high,0,medium,7,Automatic
4,Audi,Q3 45 S line Premium Plus,Gasoline,0,0,34999.0,2,15828,4,–,0,small,8,Automatic

,brand,model,fuel_type,accident,clean_title,price,age,kilometers,engine_cylinders,engine_power_output,electric,engine_displacement,transmission_gears,transmission_type
4004,Bentley,Continental GT Speed,Gasoline,0,1,349950.0,0,1149,12,–,0,large,8,Automatic
4005,Audi,S4 3.0T Premium Plus,Gasoline,0,1,53900.0,1,17542,6,high,0,medium,–,DCT
4006,Porsche,Taycan,–,0,0,90998.0,1,3405,–,–,1,–,–,Automatic
4007,Ford,F-150 Raptor,Gasoline,0,1,62999.0,3,53108,6,high,0,medium,–,Automatic
4008,BMW,X3 xDrive30i,Gasoline,1,1,40000.0,3,69202,4,medium,0,small,–,Automatic